.custom-navbar {
  background-color: #343a40; /* Dark gray */
  border-bottom: 3px solid #f8c471; /* Orange */
}

.custom-navbar .navbar-brand {
  color: #f8c471; /* Orange */
  font-size: 1.5em;
  font-weight: bold;
}

.custom-navbar .nav-link {
  color: #f8c471; /* Orange */
  font-weight: bold;
}

.custom-navbar .nav-link:hover {
  color: #fdfefe; /* Almost white */
}

.custom-navbar .dropdown-menu {
  background-color: #343a40; /* Dark gray */
}

.custom-navbar .dropdown-item {
  color: #f8c471; /* Orange */
}

.custom-navbar .dropdown-item:hover {
  color: #fdfefe; /* Almost white */
  background-color: #f8c471; /* Orange */
}