.recipe-detail {
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.dropdown-menu {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: #333;
}

.dropdown-item:hover {
  background-color: #f1f3f5;
}

p {
  color: #555;
  font-size: 16px;
  margin-bottom: 5px;
}
