<div class="recipe-detail">
    <div class="col-12">
        <img src="{{ recipeDetail.imagePath }}" alt="{{ recipeDetail.name }}" class="img-fluid" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1 class="fw-bold"> {{ recipeDetail.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group" >
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" appDropdown>
                <li><button type="button" class="dropdown-item" (click)="toShoppingList()">To Shopping List</button></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="mt-4"> {{ recipeDetail.description }}</h5>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <h5>Ingredients</h5>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipeDetail.ingredients">
                {{ ingredient.name }} ({{ ingredient.amount }})
            </li>
        </ul>
    </div>
</div>
